.choose__section {
  margin-top: 40px;
}

.choose__section__content {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 100%;
  border: 2px solid #021c5f;
  border-radius: 20px;
  display: flex;
  padding: 30px 20px;
  margin-right: 30px;

  align-items: center;
}

.choose__section__title {
  display: flex;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 10px;
  justify-content: center;

  color: #f6cc16;
}

.choose__title {
  font-size: 1.2rem;
  font-weight: 400;

  justify-content: center;
  color: #000000;
  width: 75%;
  margin-top: 20px;
}

.choose__image {
  width: 70%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.choose {
  display: flex;
  justify-content: space-around;
  padding: 20px 100px;
}
