.Contact__section {
  margin: 40px 0;
}

.contact__section__tittle {
  display: flex;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  justify-content: center;

  color: #f6cc16;
}

.contact__office {
  border: 1px solid #f6cc16;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  margin-top: 100px;
  margin-right: 50px;
  padding: 30px 20px;
}

.contact__section__content {
  display: flex;
  justify-content: center;
}

.location {
}

.location__content {
  padding-bottom: 30px;
}

.head__office {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

.icon__name {
  padding: 3px;
  border: 1px solid #000000;
  border-radius: 100%;
  margin-bottom: -9px;
}

.location__content {
  font-size: 1.5rem;
}

.contact__form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 40%;
}

form h2 {
  text-align: center;
}

form label {
  display: block;
  margin-top: 10px;
}

.contact__input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form textarea {
  height: 100px;
  resize: none; /* Prevent resizing of the text area */
}

.form__button {
  /* background-color: #f6cc16;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  margin-top: 15px;
} */
  display: flex;
  justify-content: center;
  background-color: #f6cc16;
  color: #fff;
  border: none;
  padding: 20px 50px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 20px;
  width: 100%;
}

/* form button:hover {
  background-color: #0056b3;
} */
