.Newsletter__section {
  margin-bottom: 40px;
}

.newsletter__Section__tittle {
  display: flex;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  justify-content: center;

  color: #f6cc16;
}

.newletter_news {
  font-size: 1.2rem;
  margin-bottom: 20px;

  line-height: 2rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
}

.newsletter-container input[type="email"] {
  width: 50px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/* //////////////////////// */

.newsletter__form__group {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

.Newsletter__button {
  display: flex;
  justify-content: center;
  background-color: #f6cc16;
  color: #fff;
  border: none;
  padding: 20px 50px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  /* margin-top: 20px; */
  width: 20%;
  margin-left: 10px;
}

.Newsletter__input {
  width: 35%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  margin-right: 10px;
  height: 60px;
}
