.process__section {
  margin: 40px 0;
}
.process__section__title {
  display: flex;
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 10px;
  justify-content: center;

  color: #f6cc16;
}

.process {
  display: flex;
  justify-content: center;
  padding: 20px 100px;
}

.process__section__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}
.process__image {
  width: 90%;
  height: 80px;
  object-fit: contain;
  border-radius: 5px;
}
.image_div {
  padding: 10px;
  background-color: #f5f5f1;
  border-radius: 100%;
}

.step {
  padding-bottom: 10px;
}
